.container {
    max-width: 100%
}

.navSlide::before {
        content: "Helppo verkkoajanvaraus";
        animation: animate infinite 10s;
        padding-left: 10px;
    
}
@keyframes animate {

    50% {
        content: "35 % kotitalousvähennys";
    }

    75% {
        content: "Täysi laatutakuu"
    }
}
